// BASICS
$font-family: 'Roboto', sans-serif;
$font-size: 1rem;
$line-height: $font-size * 1.5;

$font-h2: $font-size * 3;

$font-bold: 500;
$font-light: 300;

// COLORS
$color-bg: #fff;
$color-font: #1b1b1b;

$color-blue: #2386ad;
$color-white: #fff;
$color-green: #379d60;
$color-green-bg: #268d4f;